.post-create-icon{
    font-size: 50px;
}

.table{
    th{
        text-align: center;
    }

    td{
        text-align: center;
        vertical-align: middle;
    }

    .table-image{
        height: 120px;
        width: 120px;
    }
}

.paginate{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
