@import url(https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap);
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  font-size: calc(15px + (26 - 15) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Amiko", sans-serif;
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-weight: bold;
}

.wrap {
  min-width: 320px;
  max-width: 1024px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 425px) {
  .wrap {
    margin-top: 3.25rem;
    margin-bottom: 0.25rem;
  }
}
@media (min-width: 768px) {
  .wrap {
    margin-top: 3.9rem;
    margin-bottom: 0.25rem;
  }
}
@media (min-width: 1920px) {
  .wrap {
    margin-top: 4.5rem;
    margin-bottom: 0.25rem;
  }
}
header {
  z-index: 9999;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  top: 0;
  width: 100%;
  transition: 0.25s;
  background-color: #EEF0F1;
}

.header-logo {
  display: flex;
}
.header-logo img {
  padding: 0.25rem;
  width: 60px;
  height: 30px;
}

.header-menu {
  display: flex;
}
.header-menu a {
  position: relative;
  margin: 0.25rem;
  color: black;
  text-decoration: none;
  transition: 0.35s;
}
.header-menu a:hover {
  color: #576069;
  transition: 0.35s;
}
.header-menu a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #21262d;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.35s;
}
.header-menu a:hover:after {
  content: "";
  transform: scaleX(1);
  transition: 0.35s;
}

@media (min-width: 425px) {
  .header-logo img {
    width: 80px;
    height: 40px;
  }

  .header-menu a {
    margin: 0.5rem;
  }
}
@media (min-width: 768px) {
  .header-logo img {
    width: 100px;
    height: 50px;
  }

  .header-menu a {
    margin: 0.75rem;
  }
  .header-menu:after {
    height: 4px;
  }
}
@media (min-width: 1920px) {
  .header-logo img {
    width: 120px;
    height: 60px;
  }

  .header-menu a {
    margin: 1rem;
  }
  .header-menu:after {
    height: 6px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEF0F1;
}

.footer-media {
  display: flex;
}
.footer-media a {
  text-decoration: none;
  padding: 0.5rem;
  transition: 0.35s;
}
.footer-media a img {
  width: 30px;
  height: 30px;
}
.footer-media a:hover {
  opacity: 70%;
  transition: 0.35s;
}

.index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.4rem;
  border-style: ridge;
  border-color: black;
  background-color: rgba(249, 249, 249, 0.9);
}

.index-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0.5rem 1rem 0.5rem;
  font-weight: lighter;
}
.index-content ul {
  margin-left: 1rem;
}

.index-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.index-post {
  display: flex;
  margin: 1rem;
}
.index-post a {
  position: relative;
  text-decoration: none;
}
.index-post a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  opacity: 0.4;
  background: #000;
  transition: 0.3s;
}
.index-post a:hover p {
  color: white;
}
.index-post a:hover:before {
  opacity: 0.8;
  transition: 0.3s;
}
.index-post a img {
  width: 250px;
  height: 250px;
  border-style: ridge;
  border-color: black;
}
.index-post a p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 49%;
  bottom: 49%;
  left: 24%;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

@media (min-width: 768px) {
  .index-post a p {
    left: 17.5%;
  }
}
@media (min-width: 1024px) {
  .index-post a p {
    left: 13.5%;
  }
}
@media (min-width: 1440px) {
  .index-post a p {
    left: 7%;
  }
}
