.contacts{
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;
    border-style: ridge;
    border-color: black;
    background-color: #FAFAFA;
}

.contact-feedback{
    position: relative;
    display: flex;
    justify-content: space-around;

    input{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

}

.contacts-links{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.5rem;
}

.contacts-link{
    margin-top: 1rem;

    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        transition: 0.3s;

        &:hover{
            color: rgba(0, 0, 0, 0.70);
            transition: 0.3s;
        }
    }

    img{
        margin-right: 0.5rem;
        width: 35px;
        height: 35px;
    }
}

.contacts-submit{
    text-align: center;
    padding: 1rem;
}

@media (min-width: 768px) {
    .contacts-links{
        display: flex;
    }
}
