footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEF0F1;
}

.footer-media{
    display: flex;
    a{
        text-decoration: none;
        padding: 0.5rem;
        transition: 0.35s;

        img{
            width: 30px;
            height: 30px;
        }

        &:hover{
            opacity: 70%;
            transition: 0.35s;
        }
    }
}
