.td-img{
    width: 120px;
    height: 120px;
}

tr{
    text-align: center;

    td{
        vertical-align: middle;
    }
}

.create-post{
    padding: 3rem;
}

.tiny-form{
    margin: 1rem 0 1rem 0;
}

.submit{
    display: flex;
    justify-content: right;
}

.post-create-table{
    label{
        margin: 0.5rem 0 0 0;
    }

    input{
        margin: 0.5rem 0 0.5rem 0;
    }

    select{
        margin: 0.5rem 0 0.5rem 0;
    }
}
