.title{
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-weight: bold;
}

.errors{
    li{
        margin-top: 0.25rem;
    }
}

.wrap {
    @include min-max(320px, 1124px, 15px);
}

@media (min-width: 425px) {
    .wrap{
        margin-top: 3.25rem;
        margin-bottom: 0.25rem;
    }
}

@media (min-width: 768px) {
    .wrap{
        margin-top: 3.9rem;
        margin-bottom:0.25rem;
    }
}

@media (min-width: 1920px) {
    .wrap{
        margin-top: 4.5rem;
        margin-bottom: 0.25rem;
    }
}
